html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.footer {
  background-color: #f4f4f4;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .footer {
  background-color: #333;
}

body.dark-mode .footer a {
  color: #ffffff;
}

/* Prevent footer links from changing color after being visited */
.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:visited {
  color: #333;
}

body.dark-mode .footer a:visited {
  color: #ffffff;
}
